/*base styles*/
.left{
    float:left;
}

.bb{
    border-style:solid;
    border-color:black;
}

.rb{
    border-style:solid;
    border-color:red;
}

/*splash page*/
.splash .splash-text {
    position:absolute;
    top:25%;
    right:25%;
    bottom:25%;
    left:25%;
    text-align:center;
}


/*login page*/
.login .buttons {
    margin-top:3em;
    margin-bottom:3em;
    text-align:center;
}

.login .login-text {
    margin-top:3em;
    margin-bottom:3em;
    text-align:center;
}


/*Home Page*/
.profile-pic {

}
.profile-name {

}